pmgus_tv_replace.ipynb

In [1]:
from typing import Dict, List
import pandas as pd
from datetime import datetime, timedelta
from polygon import RESTClient
import numpy as np
import asyncio
from polygon.rest import models
# For Jupyter notebook execution
import nest_asyncio
nest_asyncio.apply()

In [2]:
import dotenv
import os
dotenv.load_dotenv()

True

In [3]:
api_key = os.getenv('polygonioKEY')
client = RESTClient(api_key=api_key)

In [8]:
response = client.get_last_trade("AAPL")
print(response)

LastTrade(ticker='AAPL', trf_timestamp=None, sequence_number=6280840, sip_timestamp=1732748879637721814, participant_timestamp=1732748879637381300, conditions=[12, 37], correction=None, id='30525', price=235.08, trf_id=None, size=1, exchange=11, tape=3)

In [ ]:
# # initialize the REST client for polygon.io
# client = RESTClient(api_key=api_key)

# # Example function to fetch daily bars
# def get_daily_bars(symbol, start_date, end_date):
#     """
#     Fetch daily OHLCV data for a given symbol and date range
    
#     Parameters:
#     symbol (str): Stock ticker symbol
#     start_date (str): Start date in format YYYY-MM-DD
#     end_date (str): End date in format YYYY-MM-DD
    
#     Returns:
#     pandas.DataFrame: OHLCV data
#     """
#     try:
#         bars = client.get_aggs(
#             ticker=symbol,
#             multiplier=1,
#             timespan="day",
#             from_=start_date,
#             to=end_date
#         )
        
#         # Convert to DataFrame
#         df = pd.DataFrame([bar.__dict__ for bar in bars])
        
#         # Clean up column names
#         df = df.rename(columns={
#             'o': 'open',
#             'h': 'high',
#             'l': 'low',
#             'c': 'close',
#             'v': 'volume',
#             't': 'timestamp'
#         })
        
#         # Convert timestamp to datetime
#         df['timestamp'] = pd.to_datetime(df['timestamp'], unit='ms')
        
#         return df
        
#     except Exception as e:
#         print(f"Error fetching data: {e}")
#         return None
    
# #### EXECUTE ####
# dbars_df = get_daily_bars("AAPL", "2021-01-01", "2021-01-31")
# print(len(dbars_df))
# display(dbars_df.head())

19

,open,high,low,close,volume,vwap,timestamp,transactions,otc
0,133.52,133.6116,126.760,129.41,143285672.0,129.7326,2021-01-04 05:00:00,1310217,None
1,128.89,131.7400,128.430,131.01,97664898.0,130.7179,2021-01-05 05:00:00,707577,None
2,127.72,131.0499,126.382,126.60,155087970.0,128.3502,2021-01-06 05:00:00,1202574,None
3,128.36,131.6300,127.860,130.92,109578157.0,130.1539,2021-01-07 05:00:00,718357,None
4,132.43,132.6300,130.230,132.05,105158245.0,131.5657,2021-01-08 05:00:00,800069,None